@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply mx-auto p-[1.5rem] w-full max-w-[140rem];
}

.tns-nav{
    @apply absolute right-3 top-[45%] z-40 flex flex-col lg:top-[50%] lg:right-[20rem];
}

.tns-nav button{
    @apply bg-gray-400 h-[1rem] w-[1rem] my-1 transition-all;
}
.tns-nav .tns-nav-active{
    @apply bg-primary transition-all;
}
.tns-slide-active .banner__content h1{
    @apply translate-y-0 opacity-100 transition-all duration-1000;
}
.tns-slide-active .banner__content p{
    @apply translate-x-0 opacity-100 transition-all duration-1000;
}
.tns-slide-active .banner__content a{
    @apply translate-x-0 opacity-100 transition-all duration-1000;
} 

@layer utilities{
    .btn{
        @apply p-2 border-2 border-primary hover:text-dark transition-all relative;
    }
    .btn:hover span{
        @apply h-full w-full opacity-100 top-0 right-0;
    }
    .btn span{
        @apply h-0 w-0 absolute block mx-auto bg-primary top-[50%] right-[50%] z-[-1] opacity-0 transition-all ease-in;
    }
}
@layer base{
    html{
        font-family:"Montserrat", sans-serif, Arial, sans-serif;
    }
}

@layer components{
    .header{
        @apply  drop-shadow-2xl w-full bg-white z-50 fixed ;
    }
    .header__wrapper{
        @apply mx-auto p-[1rem] w-full max-w-[70rem];
    }

    .branding{
        @apply flex justify-between items-center;
    }
    .branding ul li{
        @apply py-2;
    }
    .branding ul li i{
        @apply text-primary mr-2;
    }

    .toggle__menu{
        @apply px-[.3rem] py-[1rem] lg:hidden ml-0;
    }
    .toggle__menu span{
        @apply w-[1.5rem] h-[.2rem] bg-pink-400 block rounded-full duration-[.5s] ease-in ;
    }
    .toggle__menu span:nth-child(2){
        @apply my-[.2rem] mt-[.3rem] mb-[.3rem];
    }
    .toggle__menu.open span:first-child{
        @apply w-[1rem] translate-x-0 translate-y-[12px] bg-black duration-[.5s] rotate-[225deg] ease-in;
    }
    .toggle__menu.open span:last-child{
        @apply w-[1rem] translate-x-0 translate-y-[-13px] bg-black duration-[.5s] rotate-[-225deg] ease-in;
    }

    .contact__nav{
        @apply text-center  absolute right-0 top-[6rem] opacity-0 overflow-hidden transition-all duration-500 lg:relative lg:overflow-visible lg:max-h-full lg:opacity-100 lg:top-0 lg:right-0 z-[999];
    }
    .contact__nav ul {
        @apply lg:flex items-center justify-between gap-5 text-[1.1rem] mr-[1rem] ml-[1rem] mb-[1rem];
    }
    .contact__nav li:nth-child(2){
        @apply hover:text-primary
    }
    .contact__nav ul li i{
        @apply text-primary mr-[1rem]
    }
    .contact__nav.open{
        @apply top-[4rem] opacity-100 transition-all duration-500 bg-puti;
    }
    .toggle__contact{
        @apply lg:hidden;
    }
    .toggle__contact span{
        @apply h-[.5rem] w-[.5rem] rounded-full block bg-black transition-all;
    }
    .toggle__contact span:nth-child(2){
        @apply my-1;
    }
    .toggle__contact.open span:first-child{
        @apply translate-y-6 transition-all;
    }
    .toggle__contact.open span:last-child{
        @apply -translate-y-6 transition-all;
    }

    
    .header__nav{
        @apply bg-white lg:bg-transparent duration-500 absolute flex flex-col h-screen overflow-y-scroll left-[-100rem] overflow-hidden text-center lg:relative lg:overflow-visible lg:h-[100%] lg:flex-row-reverse lg:items-center lg:justify-between lg:w-full lg:max-w-[70rem] lg:mx-auto lg:left-0 transition-all z-[999];
    }
    .header__nav ul{
        @apply lg:flex transition-all;
    }
    .header__nav ul li{
        @apply my-1 lg:my-0 lg:border-t-4 lg:border-transparent lg:hover:border-primary transition-all;
    }
    .header__nav ul li a{
        @apply  hover:text-white lg:text-white  transition-all;
    }
    .header__nav ul li a{
        @apply hover:bg-primary lg:hover:bg-slate-600;
    }
    .header__nav ul li:hover .dropdown{
        @apply lg:overflow-visible lg:top-[3.8rem] lg:max-h-[40rem] opacity-100 transition-all;
    }
    .header__nav ul li:first-child{
        @apply lg:border-primary;
    }
    .header__nav ul li a{
        @apply flex items-center justify-between p-4;
    }
    .header__nav ul li a i{
        @apply lg:hidden;
    }
      .header__nav i{
        @apply transition ease-linear duration-300;
    }

    .header__nav i.open{
        @apply transition ease-linear duration-300 rotate-[180deg];
    }
    .header__nav.open{
        @apply duration-500 top-[4rem] left-0  transition-all lg:top-0;
    }
    .dropdown{
        @apply max-h-0 bg-white overflow-hidden transition-all lg:absolute lg:top-[6rem] lg:overflow-hidden lg:opacity-0 lg:max-h-0 lg:text-dark lg:flex duration-500 z-[999];
    }
    .dropdown__item{
        @apply lg:mx-[1rem] ;
    }
    .dropdown h4{
        @apply text-[2rem] text-left text-[#50ba87] mx-3 border-b-2 lg:border-transparent;
    }
    .dropdown ul{
        @apply flex-col m-3;
    }
    .dropdown ul li{
        @apply lg:border-t-0 ;
    }
    .dropdown ul li a{
        @apply h-[1rem] lg:text-dark lg:hover:bg-transparent lg:translate-x-1 lg:hover:translate-x-0 lg:hover:text-dark lg:border-transparent lg:border-l-4 lg:hover:border-primary;
    }
    .dropdown.open{
        @apply max-h-full transition-all lg:hidden;
    }
    .header__nav__icons{
        @apply  p-5 border-b-2 w-full mb-5 lg:flex lg:p-0 lg:mb-0 lg:border-0 lg:gap-3 lg:mr-5 lg:w-[unset];
    }
    .header__nav__icons a{
        @apply text-[1.5rem] hover:text-primary lg:text-white transition-all duration-500 mx-1;
    }
    .header__nav__container{
        @apply lg:bg-dark;
    }
    .logo{
        @apply flex items-center;
    }
    .header__nav ul li:last-child .dropdown{
        @apply lg:left-0;
    }
    .header__nav ul li:last-child .dropdown ul{
        @apply lg:grid lg:grid-cols-2 lg:border-r-2 lg:px-5 lg:w-[30rem];
    }

    .banner{
        @apply relative lg:pt-[9rem];
    }
    .slider__item_1{
        @apply bg-slider1 bg-cover bg-no-repeat h-[100vh] lg:h-[70vh] bg-center w-[50rem] lg:w-[100vw]
    }
    .slider__item_2{
        @apply bg-slider2 bg-cover bg-no-repeat h-[100vh] lg:h-[70vh] bg-center w-[50rem] lg:w-[100vw]
    }
    .slider__item_3{
        @apply bg-slider3 bg-cover bg-no-repeat h-[100vh] lg:h-[70vh] bg-center w-[50rem] lg:w-[100vw]
    }
    .slider__text{
        @apply flex flex-col justify-center h-[100vh] text-white mx-5 lg:mx-auto lg:w-[70rem] lg:h-[70vh]
    }
    .slider__text p{
        @apply text-[1.4rem]
    }
    .slider__text h1{
        @apply text-[2rem] mb-[1rem];
    }
    .slider__text h1 span{
        @apply  font-bold
    }
    .slider_btn .btn{
        @apply w-fit p-2 border-2 border-puti hover:bg-[#50ba87] hover:border-[#50ba87]  transition-all ease-in text-[1.5rem] pt-[.5rem] pb-[.5rem] hover:text-puti
    }

    /* ------------------------TOUR------------------- */
    /* .view__pic{
        @apply w-full flex flex-col justify-center ;
    } */
    /* .view__wrapper{
        @apply lg:mb-0
    } */
    .view{
        @apply mt-[1rem] bg-[#f7f7f7]
    }
    .view__group{
        @apply  max-h-[25rem] bg-no-repeat relative w-full flex flex-row justify-center my-10 transition-all cursor-pointer lg:top-[-9rem]   ;
    }
      .view__pic{
        @apply  lg:flex  lg:ml-[20rem] lg:mr-[20rem] lg:max-h-[20rem]
    }  
    .view__detail img{
        @apply  hover:scale-105 transition-all  ;
    } 
    .view__detail h4{
        @apply absolute w-full bottom-0 text-[1.5rem] text-center font-bold text-puti transition-all mb-[1.5rem] lg:text-center ;
    }
    .view__group{
        @apply overflow-hidden h-[25rem] w-[25rem] my-5 flex items-center mx-auto lg:relative lg:w-[50rem] lg:h-[30rem]  ;
    }


    .view__btn{
        @apply text-[1.1rem] flex justify-center 
    }
    .view__btn a{
        @apply hover:translate-x-2 duration-200
    }
    .view__btn a:hover i{
        @apply scale-x-150 duration-300
    }
    .view__btn i{
        @apply ml-[.5rem] lg:p-0
    }
   

    .discover__wrapper{
        @apply lg:flex lg:items-start lg:justify-center gap-[5rem];
    }
    .discover__nav{
        @apply text-center max-w-[30rem] lg:max-w-[90rem];
    }
   /* .discover-container{
    @apply flex flex-col justify-center
   } */
    
    .discover__nav ul{
        @apply flex justify-center items-center flex-wrap lg:flex-nowrap;
    }
    .discover__nav ul li{
        @apply relative py-[.5rem] px-[1rem] gap-[2rem] border-t-[1px] border-b-[1px] lg:border-b-[3px] lg:border-t-0;
    }
    .discover__nav ul li:last-child{
        @apply mt-[1rem] lg:mt-0 ;
    }
    .discover__nav__link.active{
        @apply border-primary;
    }
    .discover__nav__link.active a{
        @apply  text-primary;
    }
    .discover__nav ul li a{
        @apply text-dark text-center text-[1.2rem] hover:text-primary;
    }
    .discover__content{
        @apply relative min-h-[17rem];
    }
    .discover__tab{
        @apply lg:block;
    }
    .discover__tab h2{
        @apply text-center font-semibold text-[1.5rem] my-[2rem];
    }
    .discover__tab__content{
        @apply absolute opacity-0 mx-auto max-w-[30rem] translate-x-[5rem]; 
    }
    .discover__tab__content p{
        @apply text-center my-[1rem];
    }
    .discover__tab__content.active{
        @apply opacity-100 translate-x-0;
    }
    .discover__btn{
        @apply  mt-[4rem] flex gap-[2rem] justify-center;
    }
    .btn.primary{
        @apply text-center text-light bg-primary border-[2px] border-primary px-[2rem] hover:border-dark hover:bg-transparent hover:text-dark py-[1rem] w-[11rem] h-[4rem];
    }
    .btn.clear{
        @apply text-center text-dark px-[2rem] py-[1rem] bg-transparent border-[2px] border-dark hover:bg-primary hover:border-primary w-[11rem] h-[4rem];
    }


    .services__wrapper{
        @apply mt-[2rem] lg:grid lg:grid-cols-3 lg:gap-[1.5rem] lg:m-auto lg:w-[90rem]
    }
    .services__title{
        @apply text-dark text-[2rem] text-center
    }
    .services__item{
        @apply border-solid border-[8px] border-[#f4f4f4] mb-[2rem] 
    }
    .container{
            @apply m-0 flex flex-col gap-[1.5rem]
    }
    .services__icon{
        @apply flex justify-center mt-[1rem] 
    }
    .services__icon i{
        @apply text-primary text-[2rem] 
    }
    .services__text {
        @apply text-[#a0bada] pt-[1.5rem] lg:flex 
    }
    .services__text h3{
        @apply text-center text-dark text-[1.5rem]
    }
    .services__text p{
        @apply text-center pt-[1rem] pb-[1rem]
    }
   
   
   
   
   
   
   
   
   
   
   
   
   
}

