@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply mx-auto p-[1.5rem] w-full max-w-[140rem];
}

@layer utilities{
    .btn{
        @apply p-2 border-2 border-primary hover:text-dark transition-all relative;
    }
    .btn:hover span{
        @apply h-full w-full opacity-100 top-0 right-0;
    }
    .btn span{
        @apply h-0 w-0 absolute block mx-auto bg-primary top-[50%] right-[50%] z-[-1] opacity-0 transition-all ease-in;
    }
}
@layer base{
    html{
        font-family:"Montserrat", sans-serif, Arial, sans-serif;
    }
}

@layer components{
    .header{
        @apply relative shadow-md;
    }
    .header__wrapper{
        @apply mx-auto p-[1rem] w-full max-w-[70rem];
    }

    .branding{
        @apply flex justify-between items-center;
    }
    .branding ul li{
        @apply py-2;
    }
    .branding ul li i{
        @apply text-primary mr-2;
    }

    .toggle__menu{
        @apply px-[.3rem] py-[1rem] lg:hidden ml-0;
    }
    .toggle__menu span{
        @apply w-[1.5rem] h-[.2rem] bg-black block rounded-full duration-[.5s] ease-in ;
    }
    .toggle__menu span:nth-child(2){
        @apply my-[.2rem] mt-[.3rem] mb-[.3rem];
    }
    .toggle__menu.open span:first-child{
        @apply w-[1rem] translate-x-0 translate-y-[12px] bg-black duration-[.5s] rotate-[225deg] ease-in;
    }
    .toggle__menu.open span:last-child{
        @apply w-[1rem] translate-x-0 translate-y-[-13px] bg-black duration-[.5s] rotate-[-225deg] ease-in;
    }

    .contact__nav{
        @apply text-center  absolute right-0 top-[6rem] opacity-0 overflow-hidden transition-all duration-500 lg:relative lg:overflow-visible lg:max-h-full lg:opacity-100 lg:top-0 lg:right-0 z-[999];
    }
    .contact__nav ul {
        @apply lg:flex items-center justify-between gap-5 text-[1.1rem] mr-[1rem] ml-[1rem] mb-[1rem];
    }
    .contact__nav li:nth-child(2){
        @apply hover:text-primary
    }
    .contact__nav ul li i{
        @apply text-primary mr-[1rem]
    }
    .contact__nav.open{
        @apply top-[4rem] opacity-100 transition-all duration-500 bg-puti;
    }
    .toggle__contact{
        @apply lg:hidden;
    }
    .toggle__contact span{
        @apply h-[.5rem] w-[.5rem] rounded-full block bg-black transition-all;
    }
    .toggle__contact span:nth-child(2){
        @apply my-1;
    }
    .toggle__contact.open span:first-child{
        @apply translate-y-6 transition-all;
    }
    .toggle__contact.open span:last-child{
        @apply -translate-y-6 transition-all;
    }

    
    .header__nav{
        @apply bg-white lg:bg-transparent duration-500 absolute flex flex-col h-screen overflow-y-scroll left-[-100rem] overflow-hidden text-center lg:relative lg:overflow-visible lg:h-[100%] lg:flex-row-reverse lg:items-center lg:justify-between lg:w-full lg:max-w-[70rem] lg:mx-auto lg:left-0 transition-all z-[999];
    }
    .header__nav ul{
        @apply lg:flex transition-all;
    }
    .header__nav ul li{
        @apply my-1 lg:my-0 lg:border-t-4 lg:border-transparent lg:hover:border-primary transition-all;
    }
    .header__nav ul li a{
        @apply  hover:text-white lg:text-white  transition-all;
    }
    .header__nav ul li a{
        @apply hover:bg-primary lg:hover:bg-slate-600;
    }
    .header__nav ul li:hover .dropdown{
        @apply lg:overflow-visible lg:top-[3.8rem] lg:max-h-[40rem] opacity-100 transition-all;
    }
    .header__nav ul li:first-child{
        @apply lg:border-primary;
    }
    .header__nav ul li a{
        @apply flex items-center justify-between p-4;
    }
    .header__nav ul li a i{
        @apply lg:hidden;
    }
      .header__nav i{
        @apply transition ease-linear duration-300;
    }

    .header__nav i.open{
        @apply transition ease-linear duration-300 rotate-[180deg];
    }
    .header__nav.open{
        @apply duration-500 top-[4rem] left-0  transition-all lg:top-0;
    }
    .dropdown{
        @apply max-h-0 bg-white overflow-hidden transition-all lg:absolute lg:top-[6rem] lg:overflow-hidden lg:opacity-0 lg:max-h-0 lg:text-dark lg:flex duration-500 z-[999];
    }
    .dropdown__item{
        @apply lg:mx-[1rem] ;
    }
    .dropdown h4{
        @apply text-[2rem] text-left text-[#50ba87] mx-3 border-b-2 lg:border-transparent;
    }
    .dropdown ul{
        @apply flex-col m-3;
    }
    .dropdown ul li{
        @apply lg:border-t-0 ;
    }
    .dropdown ul li a{
        @apply h-[1rem] lg:text-dark lg:hover:bg-transparent lg:translate-x-1 lg:hover:translate-x-0 lg:hover:text-dark lg:border-transparent lg:border-l-4 lg:hover:border-primary;
    }
    .dropdown.open{
        @apply max-h-full transition-all lg:hidden;
    }
    .header__nav__icons{
        @apply  p-5 border-b-2 w-full mb-5 lg:flex lg:p-0 lg:mb-0 lg:border-0 lg:gap-3 lg:mr-5 lg:w-[unset];
    }
    .header__nav__icons a{
        @apply text-[1.5rem] hover:text-primary lg:text-white transition-all duration-500 mx-1;
    }
    .header__nav__container{
        @apply lg:bg-dark;
    }
    .logo{
        @apply flex items-center;
    }
    .header__nav ul li:last-child .dropdown{
        @apply lg:left-0;
    }
    .header__nav ul li:last-child .dropdown ul{
        @apply lg:grid lg:grid-cols-2 lg:border-r-2 lg:px-5 lg:w-[30rem];
    }


    .slider__item_1{
        @apply bg-slider1 min-h-[75vh] bg-cover
    }
    .slider__item_2{
        @apply bg-slider2 min-h-[75vh] bg-cover
    }
    .slider__item_3{
        @apply bg-slider3 min-h-[75vh] bg-cover
    }
    .slider__text{
        @apply pl-[1rem] pr-[4rem]
    }
    .slider__text p{
        @apply text-puti text-[1.5rem] pt-[20rem]
    }
    .slider__text h1{
        @apply text-puti text-[3rem] mb-[2rem]
    }
    .slider__text h1 span{
        @apply text-puti text-[3rem] font-bold
    }
    .slider_btn .btn{
        @apply text-puti p-2 border-2 border-puti hover:bg-[#50ba87] hover:border-[#50ba87]  transition-all ease-in text-[1.5rem] pt-[.5rem] pb-[.5rem] hover:text-puti
    }

    
}